body {
    background: url("../assets/ndmiata.jpg");
    background-size: cover;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    text-align: end;
}
footer a {
    color: whitesmoke;
    margin: 25px;
}